<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开始</title>
</head>
<body>
<h2>开始界面</h2>
<h1>呢喃，启动！</h1>
<a href="http://localhost:3000/register">注册</a>
<a href="http://localhost:3000/login">登录</a>
</body>
</html>