<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索圈子</title>
</head>
<body>
<h1>帖子</h1>
<form action="/browse_blogs" method="post">
    <input type="text" name="cycle_name" placeholder="兴趣圈名" required><br>
    <button type="submit">搜索</button>
</form>
<br>
<a href="http://localhost:3000/homepage">返回主界面</a>
</body>
</html>