<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
</head>
<body>
<h1>用户主页</h1>

<a href="http://localhost:3000/browse_cycles">兴趣圈大全</a><br>
<a href="http://localhost:3000/browse_blogs">圈下帖子</a><br>
<a href="http://localhost:3000/blog_search">帖子详情</a><br>
<a href="http://localhost:3000/create_blog">创建兴趣贴</a><br>
<a href="http://localhost:3000/create_cycle">创建兴趣圈</a><br>
<a href="http://localhost:3000/create_comment">发表评论</a><br>
<a href="http://localhost:3000/user_search">查看用户活跃情况</a><br>
<br>
<a href="http://localhost:3000/">返回开始界面(退出登录)</a>
</body>
</html>